/* Custom Stylesheet */

/* NOTE: Custom Colors */
:root {
  --custom-dark-1: #116353;
  --custom-dark-2: #16454B;
  --custom-dark-3: #022B2D;
  --custom-light-1: #61AF93;
  --custom-light-2: #85D0BC;
}

a:hover {
  color: var(--custom-light-2) !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dark-mode {
  background-color: var(--custom-dark-1);
}
.dark-mode-text {
  color: var(--custom-dark-3);
}

#footer-content-right {
  text-align: right;
}

a#age, a#age:hover {
  color: var(--custom-dark-3) !important; 
}
