/* Custom Stylesheet */

/* NOTE: Custom Colors */
:root {
  --custom-dark-1: #116353;
  --custom-dark-2: #16454B;
  --custom-dark-3: #022B2D;
  --custom-light-1: #61AF93;
  --custom-light-2: #85D0BC;
}

a:hover {
  color: var(--custom-light-2) !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@font-face {
  font-family: "Playlist";
  src: url("../fonts/Playlist Script.otf");
}

#logo-container {
  font-family: "Playlist";
}

.dark-mode {
  background-color: var(--custom-dark-1);
}
.dark-mode-text {
  color: var(--custom-dark-3);
}

a#age, a#age:hover {
  color: var(--custom-dark-3) !important;
}

.fmenu {
  text-align: center;
}


a > i {
  color: white;
}

a > i:hover {
  color: var(--custom-light-2);
}

.footer-copyright {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}
