/* Custom Stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&display=swap');

/* NOTE: Custom Colors */
:root {
  --custom-black: #2E2E2E;
}

body {
  min-height: 100vh;
  background: linear-gradient(225deg, rgba(61,162,53,1) 0%, rgba(200,226,198,1) 40%, rgba(225,234,227,1) 100%);
  color: var(--custom-black);
}

main{margin: 3rem;}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

ul {margin:0;}

ul, li {
  list-style: none;
}

a:hover {
  /* color: var(--custom-light-2) !important; */
}

.dark-mode {
  background-color: #116353;
}

a > i {
  color: white;
}

.footer-copyright {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.html, .css, .react, .vue, .node-js {
  height: min-content;
  width: auto;
}

.languages {
  text-align: center;
}

.languages .col {
  align-self: center;
}

.project-nav {
  text-align: center;
}

.project-nav button {
  text-decoration: none;
  color: unset;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.project-nav button:hover {
  border: .1rem solid var(--custom-black);
  color: unset;
}

.project-nav button.active, .project-nav button.active:hover {
  border: 0; /* needed for when the user hovers over an active button, to keep the style the same on hover */
  border-bottom: .15rem solid var(--custom-black);
  border-radius: 0;
  color: unset;
}

footer {
  padding: 1rem;
}